/*
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
* http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing,
* software distributed under the License is distributed on an
* "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
* KIND, either express or implied.  See the License for the
* specific language governing permissions and limitations
* under the License.
*/

*[contenteditable] {
-webkit-user-select: auto;
}

.search-bar {
  width: 100%;
  position: fixed;
  display: block;
  margin-top: -45px;
  background-color: white;
}

#articles{
  background-color: white;
  border-radius:8px;
  width:95%;
  margin: 10px;
  /*margin-top:37px;*/
}
.contents{
  width:90%;
  height:25%;
  margin:0 auto;
}
.bod{
  padding-top: 10px;
  width:100%;
  height:130px;
}
.title{
  font-size:20px;
  width:210px;
  float:left;
  margin-top: 10px;
}
.pics img{
  float:right;
  width:100px;
  height:100px;
}
.footer{
  color:#8E8E8E;
  font-size:14px;
  margin-bottom: 14px;
}
.footer a{
  text-decoration: none;
  color:#5C91C0;
}
#counts{
  display: block;
  float:right;
}
#onslist{
  font-size:18px;
  background-color: #F9F9F9;
  border:none;
}
#tem{
  font-size:18px;
}





#response_page{
  background-color:white;
}
#response_title{
  font-size: 22px;
  border-bottom: 1px solid #DBDBDB;
  padding: 14px;
}
#countss{
  margin-top:0px;
  font-size:16px;
  float:right;
  color:#999999;
  margin-right: 20px;
}
#response_writer{
  margin: 10px;
  height:40px;
}
#response_user{
  float: left;
  margin-left: 15px;
}

#comment_user{
  float: left;
  margin-left: 15px;
  width:300px;
}

#response_pic img{
  float: left;
  border-radius:50%;
  overflow:hidden;
  width:40px;
  height:40px;
}
#mypost_pic img{
  float: left;
  margin-left: 10px;
  border-radius:50%;
  overflow:hidden;
  width:20px;height:20px;
}

#main_post{
  border-bottom: 1px solid #DBDBDB;
  font-size: 17px;
}

#main_post ul li{
  margin-left: 20px;
  list-style: disc;
}
#main_post div *{
  line-height:20px;
}
#main_post a{
  color:#3A9FED;
}

#main_post ol li{
  margin-left: 20px;
  list-style: decimal;
}
#main_post p{
  margin: 17px;
  line-height: 25px;
}
#comments{
  border-bottom: 1px solid #DBDBDB;
}
#comments p{
  margin: 16px;
  line-height: 25px;
}
#reply{
  position:absolute;
  top:400px;
  width:100%;
  height:40px;
  border: 1px solid red;
}



#topic_banner{
  height:16%;
  background-color:#FFFFFF;
  margin-bottom: 9px;
}
#ban_con{
  width:90%;
  height:80px;
  margin:0 auto;
  padding-top: 20px;
}
#ban_con img{
  float:left;
  height:63px;
  width:63px;
}
#ban_words{
  float:left;
  height:63px;
  width:200px;
  margin-left: 23px;
}
#joinbutton{
  color: #0060AA;
  background-color: white;
  float: right;
  margin-top: 30px;
  font-size: 17px;
  clear: both;
}
#topic{
  font-weight: bold;
  font-size:18px;
}
.lab{
  margin-top:15px;
  font-size:16px;
  font-weight: bold;
}



#user_top{
  background-color: white;
  margin-top:10px;
  height:160px;

}
#recentView{
  width:96%;
}
#commentsss{
  border-bottom: 1px solid #DBDBDB;
  border-radius:8px;

}
#commentsss p{
  margin: 16px;
  line-height: 25px;
}
#postofmine{
  width:96%;
}
#user_top_left{
  margin: 13px;
  margin-top:20px;
  border-radius:50%;
  overflow:hidden;
  width:100px;height:100px;
  border:1px solid #DBDBDB;
  line-height: 70px;
}
#user_top_center{
  margin-top:30px;
  width:55%;
  float:left;
  height:20%;
  margin-left: 10px;
}
#logb{
  height:50px;line-height:50px;text-align:center;color:white;font-size:20px;font-weight:bold;
  background-color: #3A9FED;
}
#user_top_right{
  float:right;
  margin:50px 15px 0 0;
  color:#999999;
  font-size: 20px;
}

#contentofp{
  background-color: white;
  margin-top: -20px;
  padding-top: 20px;
}
#changePho{
text-align:center;font-size:17px;display:block;color:#247ABA;margin:10px auto;
}

#savebu{
height:50px;line-height:50px;font-size:20px;text-align:center;color:white;font-weight:bold;
background-color: #3A9FED;margin-top: 20px;
}

#user_bottom{
  background-color: white;
  margin-top:15px;
  font-size: 17px;
  width:100%;
}
.user_bottom_lists{
  height:60px;
  line-height: 60px;
  border-bottom: 1px solid #DBDBDB;
}
.iconarrow{
  color:#999999;
  float:right;
  margin-right:15px;
  margin-top:15px;
}

.iconarrow2{
  color:#999999;
  float:right;
  margin-right:15px;
}
.iconthem{
  margin-left:25px;
  margin-right:10px;
  color:#3A9FED;
}
.text-input{
  line-height: 50px;
}

#postTitle{
  height: 25px;
  font-size: 23px;
  border: none;
}
#postTitle2{
  height: 25px;
  font-size: 23px;
  border: none;
}
.logint1{
  margin-top:5px;
}
.logint2{
  margin-top:5px;
}
.toolbar {
  display: block;
  width: 100%;
  height: 35px;
  border-top: 1px solid #c2cacf;
  border-bottom: none;
  border-radius: 3px 3px 0 0;
  background: #fff;
}
.toolbar a {
  display: inline-block;
  width: 35px;
  height: 35px;
  vertical-align: top;
  line-height: 38px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  color: #adb5b9;
}

#editor {
max-width: 100%;
width: 90%;
resize: both;
overflow: auto;
font-family: Helvetica, sans-serif;
font-size: 16px;
border-radius: 0 0 3px 3px;
height:270px;
color:#999999;
margin-left:5%;
-webkit-user-select:auto;
float: left;
text-align: left;
padding-top: 10px;
}

#commentText {
max-width: 100%;
width: 90%;
resize: both;
overflow: auto;
font-family: Helvetica, sans-serif;
font-size: 16px;
border-radius: 0 0 3px 3px;
height:200px;
color:#999999;
margin-left:5%;
-webkit-user-select:auto;
float: left;
text-align: left;
padding-top: 10px;
}

#editor a{
    color:#3A9FED;
}

#editor ul li{
  list-style: disc;
}

#editor ol li{
  list-style: decimal;
}


#private{
  border-top:1px solid #F1F1F1;
  clear:both;
  color:#999999;
  border-bottom:none;
  font-size: 16px;
  text-align: left;
}

#public{
  border-top:1px solid #F1F1F1;
  clear:both;
  color:#999999;
  border-bottom:none;
  font-size: 16px;
  text-align: left;
}

#postpic{
  float:left;
  margin-left: 20px;
}

.suggest{width:375px; background-color:#fff;position:absolute;margin:0;padding:0;border-width:1px;border-style:solid;border-color: #999;}
.suggest ul{list-style:none;display:block;margin:0;padding:0}
.suggest ul li {padding:3px;line-height:40px;height: 40px;width:90%;font-size: 18px;color: #777;cursor: pointer;border-top: 1px solid #D1D1D1;padding:3px;}
.suggest ul li:hover{background-color:#e5e5e5;text-decoration: underline;}
.suggest ul li label{line-height:40px;height: 40px;position: fixed;margin-left: 10px;}
.suggest strong{color:#000;}

.list-header{
  height:30px;
}

.list-item{
  font-size: 16px;
  height:50px;
  line-height: 50px;
  width:100%;
  background-color: white;
  border-top: 1px solid #EEEEEE;
}

.list-item span{
margin:20px;
}

.checkboxs .checkbox{
  width: 30px;
  padding: 0;
  float: left;
}

#lockPost{
  width: 95%;
  height:70px;
  font-size: 17px;
  margin: 60px auto;
  border: 1px dashed #5C91C0;
  padding-top: 20px;
}

#lockIcon{
  float:left;display:block;
  color:#3A9FED;margin:10px;margin-left:10px;
}

#polls{
    width: 100%;
    height:100px;
    text-align: center;
    margin-bottom: 20px;
}

#pollicon1{
  margin:30px;
  margin-bottom: 10px;
  color:#999999;
}
#pollicon2{
  margin:30px;
  color:#999999;
  margin-bottom: 10px;
}

#pollnum1{
  margin: 0 40px;
  color: #999999;
}

#pollnum2{
  margin: 0 40px;
  color: #999999;
}

#search-result label{
  color:#4267A1;
}

#topiclist{
  margin:12px;width:94%;background-color:white;height:85px;border-radius:8px;
}

#topicimg{
  height:60px;width:60px;
  float:left;
  margin-right: 30px;
  line-height: 84px;
}

#topictitle{
  margin-top:20px;
}

#onsbutton1{
  display:block; padding:0 4px;color:#0060AA;background-color:white;border:1px solid #3CA0EC;
}

#onsbutton2{
  padding:0;color:#ADADAE;font-size:14px;background-color:white;border:1px solid #ADADAE
}

#iconreply{
  margin-right: 12px;
}

.addclick{
  margin-right:30px;margin-bottom:5px;font-weight:500;width:40px;
}

#replypost{
  style='margin-right:15px;margin-bottom:5px;font-weight:500;width:40px;
}

#ddd{
  margin-left: -5px;
  width:200px;
}
#onsb{
  background-color:#3A9FED;
  margin-top: 10px;
}
#signnwo{
  text-align:center;color:#999999;font-size:18px;width:100%;display:block;margin:250px auto 20px auto;
}
