/*
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
* http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing,
* software distributed under the License is distributed on an
* "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
* KIND, either express or implied.  See the License for the
* specific language governing permissions and limitations
* under the License.
*/
.search-bar {
    width: 100%;
    position: fixed;
    display: block;
    margin-top: -45px;
    background-color: white;
}

#articles{
  background-color: white;
}
.contents{
  width:300px;
  height:150px;
  border-bottom: 1px solid #DBDBDB;
  margin:0 auto;
}
.bod{
  padding-top: 10px;
  width:300px;
  height:110px;
}
.title{
  font-size:16px;
  width:200px;
  float:left;
}
.pics img{
  float:right;
  width:90px;
  height:90px;
}
.footer{
  color:#8E8E8E;
  font-size:6px;
}
.footer a{
  text-decoration: none;
  color:#5C91C0;
}
#counts{
  float:right;
}

#response_page{
background-color:white;
}
#response_title{
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #DBDBDB;
  padding: 10px;
  height:100px;
}
#countss{
  margin-top:10px;
  font-size:15px;
  font-weight:normal;
  float:right;
  color:#999999;
}
#response_writer{
  margin: 10px;
  height:30px;
}
#response_user{
  float: left;
  margin-left: 10px;
}
#response_pic img{
  float: left;
  border-radius:50%;
  overflow:hidden;
  width:30px;height:30px;
}
#response_follow{
float:right;
margin-right: 0px;
font-size: 8px;
}
#main_post{
  border-bottom: 1px solid #DBDBDB;
}
#main_post img{
  width:300px;
  margin:10px;
}
#main_post p{
  margin: 16px;
  line-height: 25px;
}
#comments{
  border-bottom: 1px solid #DBDBDB;
}
#comments p{
  margin: 16px;
  line-height: 25px;
}





#banner{
  height:90px;
  background-color:#FFFFFF;
  margin-bottom: 7px;
}
#ban_con{
  width:283px;
  height:52px;
  margin:0 auto;
  padding-top: 17px;
}
#ban_con img{
  float:left;
  height:52px;
  width:52px;
}
#ban_words{
  float:left;
  height:52px;
  width:120px;
  margin:0 19px;
}
#topic{
  font-weight: bold;
  font-size:15px;
}
.lab{
  margin-top:7px;
  font-size:11px;
  font-weight: bold;
}



#user_top{
  background-color: white;
  margin-top:10px;
}
#user_top_top{
  height:110px;
  border-bottom: 1px solid #DBDBDB;
}
#user_top_top_left{
  margin: 13px;
  border-radius:50%;
  overflow:hidden;
  width:70px;height:70px;
  border:1px solid #DBDBDB;
  line-height: 70px;
}
#user_top_top_center{
  margin-top:15px;
  width:180px;
  float:left;
}
#user_top_top_right{
  float:right;
  margin:55px 15px 0 0;
  color:#999999;
}
#user_top_bottom{
  clear:both;
  height:60px;
}
.follow{
  text-align: center;
  width:90px;
  margin-top: 13px;
  margin-left: 10px;
  float:left;
}
.numbers{
  font-size: 8px;
  color:#3367D6;
}



#user_bottom{
  background-color: white;
  margin-top:15px;
}
.user_bottom_lists{
  height:40px;
  line-height: 40px;
  border-bottom: 1px solid #DBDBDB;
}
.iconarrow{
    color:#999999;
    float:right;
    margin-right:15px;
    margin-top:12px;
}
.iconthem{
  margin-left:20px;
  margin-right:10px;
  color:#3A9FED;
}
